doctype html
html
  head
    title Payment Page
    style.
      body {
        font-family: Arial, sans-serif;
        background-color: #f9f9f9;
        margin: 0;
        padding: 0;
        font-size: 20px;
        font-family: 'Times New Roman', Times, serif;
      }
      h1 {
        text-align: center;
      }
      .flexcontainer {
        max-width: 500px;
        margin: 40px auto;
        padding: 20px;
        display: flex; /* Display flex for layout */
        justify-content: space-between; /* Space between the two sections */
      }
      .contractContainer {
        max-width: 200px;
        margin: 50px auto;
        padding: 20px;
        background-color: #fff;
        border-radius: 15px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      }
      h1 {
        font-size: 24px;
        color: #333;
        margin-bottom: 20px;
      }
      .payment-option {
        margin-bottom: 20px;
      }
      p {
        font-size: 18px;
        line-height: 1.5;
        color: #333;
        margin-bottom: 10px;
      }
      ul {
        list-style-type: none;
        padding-left: 30;
      }
      li::before {
        content: "\2022"; /* Bullet point */
        color: orange; /* Bullet point color */
        display: inline-block;
        width: 1em;
        margin-left: -1em;
      }
      button {
        padding: 10px 20px;
        font-size: 16px;
        font-weight: bold;
        background-color: orange;
        color: black; /* Text color changed to black */
        border: none;
        border-radius: 30px;
        cursor: pointer;
        width: 100%;
      }
  body
    h1 news.de
    .flexcontainer
      .contractContainer
        h1 Your Selection
        button(type='button') Subscribe
        div.payment-option
          ul
            li 2 Euros per month
            li Access 100% of our content
            li Consent to processing your personal data for 'analytics'
      .contractContainer
        h1 Ad Free Reading
        button(type='button') Subscribe
        div.payment-option
          ul
            li 3 Euros per month
            li Access 100% of our content
            li Consent to processing your personal data for 'analytics'
            li Ad-free reading
        
